{% extends 'base.html.twig' %}

{% block title %}Currency index{% endblock %}

{% block page_header %}
    Currency index
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>CurrencyName</th>
                <th>Symbol</th>
            </tr>
        </thead>
        <tbody>
        {% for currency in currencies %}
            <tr>
                <td>{{ currency.currencyName }}</td>
                <td>{{ currency.symbol }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
