{% extends 'base.html.twig' %}

{% block title %}New Currency{% endblock %}

{% block body %}
    <h1>Create new Currency</h1>

    {{ include('currency/_form.html.twig') }}

    <a href="{{ path('currency_index') }}">back to list</a>
{% endblock %}
