{% extends 'base.html.twig' %}

{% block title %}New DefaultCategory{% endblock %}

{% block body %}
    <h1>Create new DefaultCategory</h1>

    {{ include('default_category/_form.html.twig') }}

    <a href="{{ path('default_category_index') }}">back to list</a>
{% endblock %}
