{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block page_header %}
    Change password
{% endblock %}

{% block body %}

{{ form_start(form, {'attr': {'class': 'form'}}) }}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="old_password">Current Password</label>
                    {{ form_widget(form.old_password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="start_date">New Password</label>
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 offset-sm-7 text-right">
                <button class="btn btn-primary">
                    <i class="fas fa-save"></i>
                    Save
                </button>
            </div>
        </div>
    </div>

{{ form_end(form) }}

{% endblock %}
